// common
$w: #ffffff;
$b: #000000;
$action: #00C9FF;
$action_g: #92FE9D;

// text
$title: #3F3F3F;
$passiveLink: #999999;

// form
$inputBorder: #EAEAEA;
$inputPlaceholder: #999999;
$inputText: #3F3F3F;

//task
$taskBorder: #EEEEEE;
$taskText: #3F3F3F;
$taskStatus: #999999;
$taskAction: #777777;
